.body1 {
    background-color: "#ffd380";
}

.outer-container{
    margin: 2rem;
    display: flex;
    justify-content: space-evenly;
   
    align-items: center;
}

.custom_css{
    
    width: 515px !important;
   height: 333.94px !important;

}

.custom_table{
    background-color: ghostwhite;



}